In [21]:
import pandas as pd
# dataset = pd.read_csv(r"C:\Users\Administrator\Desktop\mlops-ws\datasets\marks.csv")
dataset = pd.read_csv('marks.csv')
dataset

   duration  marks
0         2     20
1         4     40
2         6     60
3         8     80

In [22]:
dataset.info()
dataset.head(2)
dataset.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  4 non-null      int64
 1   marks     4 non-null      int64
dtypes: int64(2)
memory usage: 192.0 bytes

Index(['duration', 'marks'], dtype='object')

In [24]:
x= dataset['duration']
y= dataset['marks']

In [31]:
dataset['duration'] == 4
sum(dataset['marks'])
dataset[dataset['duration'] == 18]

Empty DataFrame
Columns: [duration, marks]
Index: []