In [2]:
name = ["Binod", "Kumar", "Jena", "Ram", "Gopal", 'Hari']

In [4]:
type(name)

list

In [12]:
name[2:4]

['Jena', 'Ram']

In [13]:
namenum = [["Binod",111], ["Kumar",222], ["Jena",333], ["Ram",444], ["Gopal",555], ['Hari',666]]

In [15]:
namenum[1][1]

222

In [16]:
type(namenum)

list

In [19]:
len(namenum)

6

In [46]:
import numpy as np
a = np.array(namenum)
type(a)

numpy.ndarray

In [47]:
a[:,0]

array(['Binod', 'Kumar', 'Jena', 'Ram', 'Gopal', 'Hari'], dtype='<U5')